/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Fira+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
:root {
  /** entire page **/
  --primary-color: #441931;
  --tryBlue: #070735;
  --dark-grey: #6b7280;
  --rosy-white: #ddbfd3;
  --off-white: #fff0f5;
  --dark-pink: #310822;
  --brand-color: #faebd7;
}
* {
  box-sizing: border-box;
}
.gradient {
  background-image: linear-gradient(top, #f3aaaa 0%, #f1f1ef 100%);
}
body {
  font-family: "Fira Sans", sans-serif;
  /* font-size: 2em; */
  margin: 0px;
  background-color: var(--off-white);
  color: var(--dark-pink);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /* font-weight: 400; */
}
/** hr tag top and bottom margin so it doesn't touch other elements **/
hr {
  margin: 2rem 0rem;
}
/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/** spaces change to padding **/
.padding-md {
  padding: 2rem;
}
/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: aliceblue;
  margin: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Estonia", cursive;
}
h1,
h2 {
  margin: 1em 0 0.25em;
}

h3,
h4 {
  margin: 1.25em 0 0.5em;
}
h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
}
p {
  line-height: 1.5em;
}
.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

a:hover {
  color: var(--dark-grey);
}

/** lists **/
.list-no-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/**nav**/

.navigation {
  background-color: var(--primary-color);
  color: var(--brand-color);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-size: 2em;
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
  display: flex;
}

/**inside nav link class**/
.navigation .link {
  color: var(--rosy-white);
}
.navigation .link-active {
  font-weight: bold;
}
/** header **/
.header {
  padding: 2rem;
  padding-top: 2rem;
}

.header .header-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.header .header-heading {
  padding-top: 1rem;
  color: var(--dark-grey);
  text-align: center;
}

.header .header-heading:hover {
  font-style: italic;
  color: var(--tryBlue);
}

.header .header-img:hover {
  transform: scale(1.1);
}

.header .header-heading .heading-inverted {
  color: var(--primary-color);
}

/** section **/
.section {
  padding: 2em 0;
  margin: 0 4em;
  width: 50ch;
  max-width: 60vw;
}
.section h4 {
  text-align: center;
  /**  h3 tag inside section **/
}

/* .ow{
    color: var(--off-white);
    background-color: var(--primary-color);
} */
.navigation,
.footer {
  display: flex;
  justify-content: space-between;
  width: clamp(40vw, 80ch, 60em);
  margin: auto;
}
/** footer **/
.footer {
  background-color: var(--primary-color);
  padding: 0em 1em;
  text-align: center;
  color: aliceblue;
  border-top-right-radius: 1rem;
  position: relative;
  bottom: 0;
  /* width: fit-content; */
}

.footer .link {
  color: aliceblue;
}

.footer .link img {
  max-width: 50px;
  max-height: 50px;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
  padding: 1rem;
}
.footer ul {
  padding-inline-start: 0px;
}
.link img {
  display: inline;
  padding: 1rem;
}
/* aside */

aside {
  padding: 1rem;
  margin: 2rem 2rem 3rem 2rem;
  padding: 1rem 4rem 1rem 2rem;
  display: flexbox;
  width: fit-content;
  float: left;
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

aside li {
  padding: 0.25rem;
}

img {
  display: block;
  padding: 1rem;
  max-width: 100%;
}
iframe {
  width: 60vw;
  height: 100vh;
  overflow: auto;
}

p {
  text-align: justify;
  hyphens: auto;
}

.blog-content {
  display: grid;
  grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 45em){
    .blog-content {
        display: grid;
        grid-template-columns: 1fr;
      }
    iframe {
        width: 100vw;
        padding: 0;
    }
}